@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood
        off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
        Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!
    </p>
</div>

<form>
    <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
    <input type="submit" value="Search" /> <br />
    <label name="Entree_Box"> Entree </label>
    <input type="checkbox" name="EntreeBox" /><br />
    <label name="Drink_Box"> Drink </label>
    <input type="checkbox" name="DrinkBox" /> <br />
    <label name="Side_Box">Side</label>
    <input type="checkbox" name="SideBox" /> <br />


    <label name="Calories_Display">Calories</label>
    <input type="range" name="Cal_Range" value="2000" min="1" max="2000" oninput="this.nextElementSibling.value = this.value">
    <output>2000</output> <br />

    <label name="Price_Display">Price</label>
    <input type="range" name="Price_Range" value="20" min="1" max="20" oninput="this.nextElementSibling.value = this.value">
    <output>20</output> <br />

</form>

<div class="row">


    <div class="column">

        <div class="Entree">
            <h2 class="display-4"> Entree </h2>
            <ul>
                @foreach (Data.IOrderItem entree in BleakwindBuffet.Data.Menu.Menu.AllEntrees)
                {
                    <li>
                        <p>
                            @entree.ToString() <br />
                            Calories - @entree.Calories <br />
                            @entree.Description
                        </p>
                    </li>
                }

            </ul>

        </div>

    </div>


    <div class="column">

        <div class="Side">
            <h2 class="display-4"> Sides </h2>
            <ul>
                @foreach (Data.IOrderItem Side in BleakwindBuffet.Data.Menu.Menu.AllSides)
                {
                    <li>
                        <p>
                            @Side.ToString() <br />
                            Calories - @Side.Calories <br />
                            @Side.Description
                        </p>
                    </li>
                }

            </ul>

        </div>

    </div>


    <div class="column">
        <div class="Drink">
            <h2 class="display-4"> Drinks </h2>
            <ul>
                @foreach (Data.IOrderItem Drink in BleakwindBuffet.Data.Menu.Menu.AllDrinks)
                {
                    <li>
                        <p>
                            @Drink.ToString() <br />
                            Calories - @Drink.Calories <br />
                            @Drink.Description
                        </p>
                    </li>
                }

            </ul>

        </div>
        <div>
            <h2 class="display-4"> Soda Flavors </h2>
            @foreach (BleakwindBuffet.Data.Enums.SodaFlavor flavor in Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
            {
                <ul>
                    <li class="right">
                        @flavor.ToString()
                    </li>
                </ul>

            }
        </div>
    </div>
</div>

<br />
<br />
<p>
    One Entree, Drink, and Side can be combined into a Combo Item for a $1.00 Discount.
</p>